<div class="hero-container">
  <div class="hero-image-container">
    <img class="hero-image" src="https://ember.com/cdn/shop/files/230914_launch_WebBanner-Desktop_2048x.jpg" alt="Hero Section">
  </div>
  <div class="hero-content">
    <h1 class="hero-title" aria-level="1">
      The perfect temperature, every time.
    </h1>
    <p class="hero-description" aria-level="Ember brand Description">
      Ember’s patented technology allows you to experience precision temperature control in your everyday life, with the vision to transform how the world eats, drinks, and lives, empowering you to experience your world without limits.
    </p>
  </div>

</div>
