<div>
    <mat-card>
        <mat-card-header>
            <div>
                <p><strong>Event Name</strong>: {{event.name}}</p>
            </div>
        </mat-card-header>
        <mat-card-content>
            <div>
                <p><strong>Event Description</strong>: {{event.description}}</p>
            </div>
        </mat-card-content>
        <mat-card-footer>
            <div>
                <p><strong>Checked-In Attendees</strong>: {{checkedInCount}}</p>
                <p><strong>Average Rating</strong>: {{averageRating}}</p>
            </div>
        </mat-card-footer>
    </mat-card>
</div>